/* create posts __________ */
.cp_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.cp_form{
  height: 70vh;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ;
  background-color: rgb(234, 234, 234);
}
.cp_item{
  margin: 10px 0;
}
.cp_image{
  display: flex;
}
.cp_image p{
  color: grey;
}
.cp_buttons{
  display:flex;
  justify-content: space-between;
}
.cp_picture{
  width: 100%;
  height: 400px;
}

