/* banner __________*/
.container {
  position: relative;
  text-align: center;
  color: white;
}

.home_banner{
  width: 100vw;
  height: 50vh;                               
}

.home_banner_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;                            
}

.centered {
  font-size: 60px;
  font-weight: 600;
}

/* post __________*/
.post_container{
  margin: 3vh 1vw 0 1vw;
  min-width: 300px;
  width: 20vw;
  height: 400px;
}

/* posts __________*/
.posts_container{
  margin: 0 5vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* modal __________ */
.modal_paper{
  background-color: white;
  padding: 30px;
  border: 2px solid black;
  box-shadow: 5px;
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
}